@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:ital,wght@0,300;1,100&family=Shadows+Into+Light&display=swap');
body{
    /* margin: 100px 100px; */
    background-color: rgb(221, 221, 221);
    font-family: 'Roboto', sans-serif;

}
#navigation{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin:10px 100px;
}

#logo{
    font-family: 'Shadows Into Light';
}

#login{
    display: flex;
    justify-content: space-evenly; 
}
#login_username,#login_password,#login_button,#transfer_money_userName,#transfer_money_amount,#transfer_money_button,#request_loan_amount,#request_loan_button,#close_account_user_name,#close_account_pin,#close_account_button{
    height: 120%;
    border-radius: 10px;
    border: 1px solid black;
}
#login_button:hover{
    cursor: pointer;
}
#login_username::placeholder,#login_password::placeholder{
    padding-left: 10px;
}

#current_balance{
    display: flex;
    justify-content:space-between;
    margin:0px 200px;
}

#app{
    opacity: 0;
}
#main{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin:10px 200px;
    gap: 20px;
}
#movements{
    width: 100%;
    min-height: 590px ;
    max-height: 590px;
    overflow: scroll;
}
#movements_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(144, 144, 144,0.2);
    flex-wrap: wrap;
}

#Deposit{
    color: rgb(21, 166, 21);
}
#Withdraw{
    color: rgb(242, 27, 27);
}
#operation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 10px 10px;
    background-color: rgba(5, 6, 6, 0);
}
.operation{
    padding: 0px 50px;
}
form{
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap:10px; 
    padding: 5px 50px;  
    border-radius: 2px; 
}
#movements,#operation{
    border: 2px solid;
}

#footer{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin:0px 200px;
}



.transfer_money{
    background-color: rgba(245, 182, 66,0.4);
    border: 1px solid rgba(245, 182, 66,0);
    border-radius: 30px;
    margin: 10px 30px 5px 30px;
} 
.request_loan{
    background-color: rgba(173, 245, 66,0.4);
    border: 1px solid rgba(245, 182, 66,0.1);
    border-radius: 30px;
    margin: 5px 30px 5px 30px;
} 
.close_account{
    background-color: rgba(245, 87, 66,0.4);
    border: 1px solid rgba(245, 182, 66,0.1);
    border-radius: 30px;
    margin: 5px 30px 5px 30px;
}

#outflow{
    color: rgb(242, 27, 27);
}

#inflow{
    color: rgb(21, 166, 21);
}
